<div>
    <ul class="nav nav-pills" style="margin-top: 20px;">
        <li class="dropdown margin-text">
            <button class="dropdown-toggle btn b-normal-font" data-toggle="dropdown" href="#" ng-disabled="isEmpty(availableItems)">
                <span>{{selectedItem ? selectedItem.display : '...'}}</span>
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="i in availableItems">
                    <a ng-click="select(i)">{{i.display}}</a>
                </li>
            </ul>
        </li>
        <li class="margin-text">
            <span ng-show="!selectedItem.type || selectedItem.type == 'string'">
                <input type="text" class="input-medium" ng-model="selectedItem.searchVal" />
            </span>
            <span ng-show="selectedItem.type == 'date'">
                <span class="badge badge-info">from</span>
                <input type="text" class="input-medium datePicker" ng-model="selectedItem.searchVal._from" on-element-ready="initDatePicker"/>
                <span class="badge badge-info">to</span>
                <input type="text" class="input-medium datePicker" ng-model="selectedItem.searchVal._to" on-element-ready="initDatePicker"/>
            </span>
            <span ng-show="selectedItem.type == 'dropdown'">
                <div class="dropdown">
                    <button class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                        {{selectedItem.displayVal && selectedItem.displayVal || '...'}}
                    <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(key,val) in selectedItem.values">
                            <a ng-click="selectedItem.searchVal = val; selectedItem.displayVal = key;">{{key}}</a>
                        </li>
                    </ul>
                </div>
            </span>
        </li>
        <li class="margin-text">
            <button class="btn" ng-click="addFilter(selectedItem);" ng-disabled="!selectedItem.name || !selectedItem.searchVal">
                <i class="icon-plus"></i>
            </button>
        </li>
    </ul>
    <table class="table table-striped table-bordered table-hover" style="width: 500px;" ng-hide="isEmpty(renderFilter)">
        <tr ng-repeat="beenSelectedItem in renderFilter">
            <td style="width: 240px;">{{beenSelectedItem.display}}</td>
            <td style="width: 240px;">
                <span ng-show="!beenSelectedItem.type || beenSelectedItem.type == 'string'">
                    <input type="text" class="input-medium" ng-model="beenSelectedItem.searchVal" ng-change="changeFilter(beenSelectedItem)" />
                </span>
                <span ng-show="beenSelectedItem.type == 'date'">
                    <span class="badge badge-info">from</span>
                    <input type="text" class="input-medium datePicker" ng-model="beenSelectedItem.searchVal._from" ng-change="changeFilter(beenSelectedItem)" on-element-ready="initDatePicker"/>
                    <span class="badge badge-info">to</span>
                    <input type="text" class="input-medium datePicker" ng-model="beenSelectedItem.searchVal._to" ng-change="changeFilter(beenSelectedItem)" on-element-ready="initDatePicker"/>
                </span>
                <span ng-show="beenSelectedItem.type == 'dropdown'">
                    <div class="dropdown">
                        <button class="dropdown-toggle btn" data-toggle="dropdown" href="#">
                            {{displayValue(beenSelectedItem)}}
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(key,val) in beenSelectedItem.values">
                                <a ng-click="changeFilter(beenSelectedItem, key, val)">{{key}}</a>
                            </li>
                        </ul>
                    </div>
                </span>
            </td>
            <td style="width: 20px;">
                <button class="btn btn-link" ng-click="removeFilterItem(beenSelectedItem)" title="Delete">
                    <i class="icon-remove"></i>
                </button>
            </td>
        </tr>
    </table>
    <a class="btn" ng-click="doSearch()">Search</a>
</div>
